.starfield
	position: relative
	height: 800px
	width: 100%
	background: black
	margin: 0px auto

a.star circle
	stroke: black
	stroke-width: 1px
	
a.star:hover circle
	stroke: #ff0000
	stroke-width: 3px