{% load humanize %}

<div class="planet" data-size="{{ planet.size_of_star_in_sky }}" data-color="{{ planet.colour_of_star }}" data-period="{{planet.orbital_period}}" data-gravity="{{planet.gravity}}" >

	<div style='text-align: center'>
		<canvas class="planetCanvas" width="1200" height="750"></canvas>
	</div>

	<div id='infoboxes' style='position: relative; top: -700px;'>
		
    {% if planet.time_to_go_circumnavigate_by_airbus_a380 %}
		<div class='infobox'>
			It would take
			<span class='factoid'>{{ planet.time_to_go_circumnavigate_by_airbus_a380|stringformat:"d" }} hours</span>
			to fly around the planet in a plane.
		</div>
    {% endif %}
		
    {% if planet.time_to_boil_tea %}
		<div class='infobox'>
			You could make a cup of tea in
			<span class='factoid'>{{ planet.time_to_boil_tea|stringformat:"d" }} seconds</span>
			by just leaving the water outside.
		</div>
    {% endif %}

    {% if planet.time_to_freeze_lolly %}
		<div class='infobox'>
			You could make an ice lolly in
			<span class='factoid'>{{ planet.time_to_freeze_lolly|stringformat:"d" }} seconds</span>
			by just leaving the water outside.
		</div>
    {% endif %}

    {% if planet.time_to_planet_by_spacecraft %}
		<div class='infobox'>
			It would take
			<span class='factoid'>{{ planet.time_to_planet_by_spacecraft|intword }} years</span>
			to travel there by spacecraft.
		</div>
    {% endif %}

    {% if planet.time_to_planet_by_car %}
		<div class='infobox'>
			It would take
			<span class='factoid'>{{ planet.time_to_planet_by_car|intword }} years</span>
			to travel there by car.
		</div>
    {% endif %}

    {% if planet.gravity %}
		<div class='infobox'>
			When standing on {{planet.name}}, I could jump
		    <span class='factoid' data-var='vertical_jump' data-format="%d"> cm</span>
			into the air.
		</div>
    {% endif %}

	<div class='infobox'>
		I'm <span data-var="age_on_earth" data-min="1" data-max="100" class="TKAdjustableNumber"> years old on Earth</span>, but I'd be
		<span class='factoid' data-var='age_on_planet' data-format="%d"> years old</span> on {{planet.name}}.
	</div>

    {% if planet.gravity %}
	    <div class='infobox'>
            I weigh <span data-var="weight_on_earth"  data-min="10" data-max="100" class="TKAdjustableNumber"> kg on Earth</span>, but I'd weigh
            <span class='factoid' data-var='weight_on_planet' data-format="%d"> kg</span> on {{planet.name}}, which is the same as
            <span class='mini-factoid' data-var='equiv_weight' data-format="%s"></span> on Earth.
        </div>
    {% endif %}

	</div>
	
</div>
