{% extends 'celestial/base.html' %}

{% load humanize %}

{% block extra_script %}
<script>
    $(document).ready(function () {
        var canvas = $("#planetCanvas").get(0);
        var size_in_sky = {{ planet.size_of_star_in_sky }}; // radius of sky
        var radius = size_in_sky/90*canvas.width;
        drawSky(canvas);
        drawStar(canvas, {radius: radius, color:'{{ planet.colour_of_star }}'});
        
    });
</script>
{% endblock extra_script %}
  
{% block page_title %}<h2>Planet: {{ object }}</h2>{% endblock %}

{% block content %}
    <h3>System: <a href="{{ planet.solar_system.get_absolute_url }}">{{ planet.solar_system }}</a></h3>
    <canvas id="planetCanvas" width="578" height="200"></canvas>
    
    <dl>
        {% if planet.time_to_go_circumnavigate_by_airbus_a380 %}
        <dt>Time to circumnavigate by aeroplane</dt>
        <dd>{{ planet.time_to_go_circumnavigate_by_airbus_a380|stringformat:"d" }} hrs</dd>
        {% endif %}
        {% if planet.time_to_boil_tea %}
        <dt>Time to boil tea</dt>
        <dd>{{ planet.time_to_boil_tea }}</dd>
        {% endif %}
        {% if planet.time_to_freeze_lolly %}
        <dt>Time to freeze lolly</dt>
        <dd>{{ planet.time_to_freeze_lolly }}</dd>
        {% endif %}
        {% if planet.age_in_planet_years %}
        <dt>Age in planet years</dt>
        <dd>{{ planet.age_in_planet_years }}</dd>
        {% endif %}
        {% if planet.time_to_planet_by_spacecraft %}
        <dt>Time to planet by spacecraft</dt>
        <dd>{{ planet.time_to_planet_by_spacecraft|intcomma }} years</dd>
        {% endif %}
        {% if planet.time_to_planet_by_car %}
        <dt>Time to planet by car</dt>
        <dd>{{ planet.time_to_planet_by_car|intcomma }} years</dd>
        {% endif %}
        <dt>Age on planet (I am <div class='slider' style='margin: 0px 5px; display: inline-block; width:200px' id='slider-age'></div> <span id='my-age'></span> years old on Earth)</dt>
        <dd>
			<span id='age-on-planet'></span> years
			<script>
				var period = {{planet.orbital_period}};
				function update_age(my_age) {
					$('#my-age').text(my_age);
					$('#age-on-planet').text(my_age * (365.256363 / period));
				}
				$(function() {
					$('#slider-age').slider({
						max: 100,
						min: 1,
						value: 15,
						step: 1,
						slide: function(event, ui) {
							update_age(parseFloat(ui.value));
						}
					});
					update_age(15.0);
				});
			</script>
		</dd>
		{% if planet.gravity %}
        <dt>Weight on planet (I weigh <div class='slider' style='margin: 0px 5px; display: inline-block; width:200px' id='slider-weight'></div> <span id='my-weight'></span> kg on Earth)</dt>
        <dd>
			<span id='weight-on-planet'></span> kg, the same as <span id='number-of-cows'></span> cows
			<script>
				var gravity = {{planet.gravity}};
				function update_weight(my_weight) {
					$('#my-weight').text(my_weight);
					new_weight = (my_weight / 9.81) * gravity;
					$('#weight-on-planet').text(new_weight);
					$('#number-of-cows').text(new_weight / 750);
				}
				$(function() {
					$('#slider-weight').slider({
						max: 100,
						min: 1,
						value: 50,
						step: 1,
						slide: function(event, ui) {
							update_weight(parseFloat(ui.value));
						}
					});
					update_weight(50.0);
				});
			</script>
		</dd>
		{% endif %}
    </dl>

{% endblock %}
