{% extends 'celestial/base.html' %}

{% load humanize %}

{% block extra_script %}
<script>
    $(document).ready(function () {
        var canvas = $("#planetCanvas").get(0);
        var size_in_sky = {{ planet.size_of_star_in_sky }}; // radius of sky
        var radius = size_in_sky/90*canvas.width;
        drawSky(canvas);
        drawStar(canvas, {radius: radius, color:'{{ planet.colour_of_star }}'});
        
    });
</script>
{% endblock extra_script %}
  
{% block page_title %}<h2>Planet: {{ object }}</h2>{% endblock %}

{% block content %}
    <h3>System: <a href="{{ planet.solar_system.get_absolute_url }}">{{ planet.solar_system }}</a></h3>
    <canvas id="planetCanvas" width="578" height="200"></canvas>
    
    <dl>
        {% if planet.time_to_go_circumnavigate_by_airbus_a380 %}
        <dt>Time to circumnavigate by aeroplane</dt>
        <dd>{{ planet.time_to_go_circumnavigate_by_airbus_a380|stringformat:"d" }} hrs</dd>
        {% endif %}
        {% if planet.time_to_boil_tea %}
        <dt>Time to boil tea</dt>
        <dd>{{ planet.time_to_boil_tea }}</dd>
        {% endif %}
        {% if planet.time_to_freeze_lolly %}
        <dt>Time to freeze lolly</dt>
        <dd>{{ planet.time_to_freeze_lolly }}</dd>
        {% endif %}
        {% if planet.age_in_planet_years %}
        <dt>Age in planet years</dt>
        <dd>{{ planet.age_in_planet_years }}</dd>
        {% endif %}
        {% if planet.time_to_planet_by_spacecraft %}
        <dt>Time to planet by spacecraft</dt>
        <dd>{{ planet.time_to_planet_by_spacecraft|intcomma }} years</dd>
        {% endif %}
        {% if planet.time_to_planet_by_car %}
        <dt>Time to planet by car</dt>
        <dd>{{ planet.time_to_planet_by_car|intcomma }} years</dd>
        {% endif %}
    </dl>

{% endblock %}
