{% extends 'celestial/base.html' %}

{% load url from future %}

{% block page_title %}<h2><a href="{% url 'system-list' %}">Systems</a> / {{ object }}</h2>{% endblock %}

{% block content %}
{% if object.planets.count %}
<div class="planets">
    <ul>
        {% for planet in planets %}
        <li><a href="#planet-{{ planet.pk }}">{{ planet }}</a></li>
        {% endfor %}
    </ul>
    
    {% for planet in planets %}
    <div id="planet-{{ planet.pk }}">
        {% include 'celestial/_planet.html' %}
    </div>
    {% endfor %}
</div>
{% else %}
<p>No known planets!</p>
{% endif %}
{% endblock %}
